<!doctype html>
<meta charset="utf-8">
<title>Login To PickleCoin</title>

<form action="/profile/login/" method="POST" id="login_form">
    {% csrf_token %}
    <div id="username_ct">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" autofocus tabindex="1" required/>
    </div>
    <div id="password_ct">
        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password" tabindex="1" required/>
    </div>
    <div id="button_ct">
        <button type="submit">Log in</button>
    </div>
</form>
<output>
    {{error}}
</output>