<!doctype html>
<meta charset="utf-8">
<title>Login To PickleCoin</title>

<form action="/register/" method="POST" id="register_form">
    {% csrf_token %}
    <div id="firstname_ct">
        <label for="firstname">First Name: </label>
        <input type="text" name="firstname" id="firstname" autofocus tabindex="1" required/>
    </div>
    <div id="lastname_ct">
        <label for="lastname">Last Name: </label>
        <input type="text" name="lastname" id="lastname" autofocus tabindex="1" required/>
    </div>
    <div id="username_ct">
        <label for="username">Username:* </label>
        <input type="text" name="username" id="username" autofocus tabindex="1" required/>
    </div>
    <div id="email_ct">
        <label for="email">Email:* </label>
        <input type="text" name="email" id="email" autofocus tabindex="1" required/>
    </div>
    <div id="password_ct">
        <label for="password">Enter your password:* </label>
        <input type="password" name="password" id="password" tabindex="1" required/>
    </div>
    <div id="button_ct">
        <button type="submit">Log in</button>
    </div>
</form>
<output>
    {{error}}
</output>