@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Open+Sans:wght@400;800&display=swap');

/* Global general styles */
* {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25rem;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Open Sans', sans-serif;
}

strong {
    font-weight: bold;
}

body {
    margin: 0;
}

#home-main-content, #map-main-content, #match-main-content, #about-main-content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    padding-inline: 3rem;
}
    .main-wrapper header {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: .5em;
        color: #4b5320;
        text-align: center;
        margin-block: 1rem;
    }

    .main-wrapper h1 {
        margin: 0;
        margin-bottom: .25rem;
        font-size: 2.75rem;
        text-wrap: nowrap;
    }

    .main-wrapper header p {
        font-size: 1.5rem;
    }

    .main-wrapper h2 {
        color: #4b5320;
        text-align: center;
        font-size: 2rem;
        margin-block: .5rem;
    }

#profile-login {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

/* Buttons and Links */
button, #home-wrapper main a, #about-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: .75rem;
    padding: 12px 24px;
    color: white;
    background-color: #4a5834;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
    button:hover, #home-wrapper main a:hover, #about-wrapper a:hover {
        background-color: #71864f;
        color: #d3d3d3;
    }

/* Forms */
form {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 1.75rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px #ffffff10;
}
    form div {
        display: flex;
        flex-direction: column;
        margin-block: .5rem;
    }
    
    form label {
        display: block;
        margin-bottom: .5rem;
        font-weight: bold;
    }

    form input, form textarea, form select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    form textarea {
        height: 5rem;
        resize: vertical;
    }

    form select[multiple] {
        height: auto;
    }

/* Localized styles */
#home-wrapper, #about-wrapper, #login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Site header styles */
#site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    background: linear-gradient(0deg, #9fb18401 0%, #9fb184 100%);
}
    #site-header #logo-title a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
    }

    #site-header #logo-title h1 {
        padding-left: .5rem;
        font-size: 2rem;
        font-weight: bold;
        color: #183400;
        text-shadow: 0px 0px 1px #080f0180;
    }

    #site-header nav {
        display: flex;
        flex-direction: row;
        margin-top: .25rem;
        justify-content: center;
        font-size: 1.25rem;
        font-weight: bold;
    }

    #site-header nav a:any-link {
        padding: 5px;
        margin-inline: 1rem;
        border-radius: 2px;
        text-shadow: 0px 0px 1px #080f01a0;
        text-decoration: none;
        color: #234a00;
        transition: background-color 0.3s, color 0.3s;
    }
        #site-header nav a:active {
            color: #ffffff;
        }
        #site-header nav a:hover {
            color: #142b00;
            background-color: #83b325;
        }

/* Site footer styles */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 3rem;
    padding: .5rem;
    background: linear-gradient(0deg, #67784c 0%, #9fb184e0 100%);
    font-weight: bold;
}

#extra-info {
    display: flex;
    flex-direction: column;
    width: 27.5%;
    margin: 0 .33rem;
}
    #extra-info p {
        margin: 0;
    }

#contact-us {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    margin: 0 .33rem;
    text-align: center;
    font-size: 1rem;
}
    #contact-us p {
        margin-block: 0 .7rem;
    }

    #contact-us a:any-link {
        margin-inline: .15rem;
        font-weight: bold;
        color: #183400;
        text-shadow: 0px 0px 1px #080f0180;
        text-decoration: none;
    }
    #contact-us a:active {
        color: #ffffff;
    }
    #contact-us a:hover {
        color: #2f6500;
        text-decoration: underline;
    }

#socials p {
    margin: 0;
}

#legal {
    display: flex;
    flex-direction: column;
    width: 27.5%;
    align-items: flex-end;
    justify-content: center;
    margin: 0 .33rem;
}