/* #map-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#map-wrapper div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#map-wrapper .container {
    align-items: center;
}

#map-wrapper .map-container {
    min-height: 40rem;
    width: 100%;
}

#map-wrapper .info {
    flex-direction: column;
    justify-content: center;
    width: 55%;
    font-size: larger;
}
    #map-wrapper .info > p {
        margin-top: 0.25em;
    }

#map-wrapper form {
    width: 30%;
}

#search-button {
    z-index: 1;
    width: 20%;
    margin: 1rem;
    padding: .6rem;
    background-color: #ffffff;
    color : #33b5e5;
    border: 1px solid #aaaaaa;
    box-shadow: 1px 1px 3px #8f8f8f;
}
*/

/* Media query for wider screens */
/* @media only screen and (min-width: 1350px) {
    #map-wrapper .map-container {
        width: 75%;
    }
}  */