.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 3rem;
}
    .form-wrapper header {
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: .5em;
        margin-top: 3rem;
        color: #4b5320;
        text-align: center;
    }

    .form-wrapper #logo-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
        .form-wrapper #logo-title h1 {
            padding-left: .5rem;
            font-size: 3rem;
            font-weight: bold;
            text-shadow: 0px 0px 1px #080f0180;
        }

    .form-wrapper h2 {
        margin: 0;
        font-size: 2rem;
        line-height: 3rem;
    }

    .form-wrapper header p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: .33rem;
    }

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#required-warning {
    margin-top: 0;
    color: #d00000d0;
    font-size: .75rem;
}

.submit-button {
    align-items: center;
}
    .submit-button button {
        width: 80%;
    }

.redirect-swap {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}
    .redirect-swap p {
        margin-block: .25rem;
        margin-right: .5rem;
    }

output {
    color: #d00000;
    font-weight: bold;
    text-align: center;
    margin: .5rem;
}


/* Media query for narrower screens */
@media only screen and (max-width: 1300px) {
    main {
        width: 90%;
    }
}