#profile-page-wrapper {
    margin: 20px auto;
    padding: 20px;
    color: #333;
  }
  
  .player-info {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  .header h1 {
    color: #4b5320;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    font-size: 3em;
  }
  
  .header h3 {
    color: #4b5320;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    font-size: 1.5em;
  }
  
  .bio {
    margin-bottom: 20px;
    text-align: center;
    color: #666;
  }
  
  .info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
    margin: 0px auto;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-top: 15px;
  }
  
  .card:hover {
    transform: translateY(-2px);
  }
  
  .statistics {
    display: grid;
    row-gap: 10px;
  }
  
  .statistics div {
    display: flex;
    justify-content: space-between;
  }
  
  .statistics span {
    font-weight: bold;
  }
  
  h2 {
    color: #71864f;
    text-align: center;
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
  }
  
  li {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .friend-button {
    background-color: #71864f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px auto;
    font-size: x-large;
    transition:
      background-color 0.3s,
      transform 0.1s;
    cursor: pointer;
  }
  
  .friend-button:hover {
    background-color: #5a6e3f;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .friend-button:active {
    background-color: #4d5a33;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .friend-requests h3 {
    color: #71864f;
    margin-top: 10px;
  }
  
  .friend-requests button {
    margin-left: 10px;
    background-color: #71864f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .friend-requests button:hover {
    background-color: #5a6e3f;
  }
  
  .search-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .search-box {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #71864f;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .search-box:focus {
    border-color: #5a6e3f;
  }
  
  .search-results ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
  }
  
  .search-results li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-results button {
    background-color: #71864f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition:
      background-color 0.3s,
      transform 0.1s;
    cursor: pointer;
  }
  
  .search-results button:hover {
    background-color: #5a6e3f;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .search-results button:active {
    background-color: #4d5a33;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .columns {
    display: flex;
    margin-top: 20px;
  }
  
  .column {
    flex: 1;
    padding: 0 15px;
    margin: 5px 15px;
  }
  
  @media (max-width: 768px) {
    .columns {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .friend-requests,
  .search-add-friends {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 350px;
  }
  
  .search-results ul,
  .friend-requests ul {
    list-style: none;
    padding: 0;
  }
  
  .search-results li,
  .friend-requests li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      transform 0.1s;
    margin-left: 10px;
    color: white;
    font-weight: bold;
  }
  
  .button:hover {
    transform: translateY(-2px);
  }
  
  .accept {
    background-color: #71864f;
  }
  
  .accept:hover {
    background-color: #5a6e3f;
  }
  
  .delete {
    background-color: #d9534f;
  }
  
  .delete:hover {
    background-color: #c9302c;
  }
  
  .error-template {
    text-align: center;
    padding: 50px;
    margin: 50px auto;
    background-color: #fff3f3;
    border: 1px solid #ffcccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .error-template h2 {
    color: #d9534f;
    margin-bottom: 20px;
  }
  
  .error-template p {
    color: #666;
    margin-bottom: 30px;
  }
  
  .error-template .button {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      transform 0.1s;
  }
  
  .error-template .button:hover {
    background-color: #c9302c;
    transform: translateY(-2px);
  }
  
  .profile-link {
    display: inline-block;
    color: #4b5320;
    text-decoration: none;
    transition:
      color 0.3s,
      text-decoration 0.3s;
    font-weight: normal;
  }
  
  .profile-link:hover,
  .profile-link:focus {
    color: #71864f;
    text-decoration: underline;
    text-decoration-color: rgba(113, 134, 79, 0.5);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }
  
  .profile-link:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }