$pickle-600: #9fb18400;
$pickle-500: #183400;
$pickle-400: #4b5320;
$pickle-300: #4a5834;
$pickle-200: #71864f;
$pickle-100: #b6bea9;
$pickle-50: #f6f7f4;

// $text-pickle: #121610;
// $background-pickle: #fbfcfb;
// $primary-pickle: #78b651;
// $secondary-pickle: #b5e099;
// $accent-pickle: #90de5e;

// $pickle-600: $background;
// $pickle-500: $background;
// $pickle-400: $background;
// $pickle-300: $background;
// $pickle-200: $background;
// $pickle-100: $background;
// $pickle-50: $background;