@use "../abstracts/" as *;

form {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 1.75rem;
    background-color: $pickle-100;
    border-radius: 8px;
    box-shadow: 0 2px 4px #ffffff40;
    & section {
        display: flex;
        flex-direction: column;
        margin-block: .5rem;
    }
    
    & label {
        display: block;
        margin-bottom: .5rem;
        font-weight: bold;
    }

    & input, & textarea, & select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    & textarea {
        height: 5rem;
        resize: vertical;
    }

    & select[multiple] {
        height: auto;
    }
}
    