@use '../abstracts' as *;
$mobile-size: 800px;

* {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25rem;
}

code {
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Open Sans', sans-serif;
}

strong {
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 2.75rem;
  line-height: 3rem;
  color: $pickle-500;
  text-align: center;

  @include responsive($mobile-size) {
    margin-bottom: .25rem;
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

header p {
  font-size: 1.5rem;

  @include responsive($mobile-size) {
    font-size: 1.2rem;
  }
}

h2 {
  color: $pickle-400;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-block: .33rem;

  @include responsive($mobile-size) {
    font-size: 1.33rem;
    line-height: 1.5rem;
    margin-block: .25rem;
  }
}

p {
  @include responsive($mobile-size) {
    font-size: 0.85rem;
    line-height: 1.1rem;
  }
}