@use '../abstracts' as *;

* {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25rem;
}

code {
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Open Sans', sans-serif;
}

strong {
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 2.75rem;
  line-height: 3rem;
  color: $pickle-500;
}

header p {
  font-size: 1.5rem;
}

h2 {
  color: $pickle-400;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-block: .33rem;
}


@media screen and (max-width: 800px) {
  /* Global general styles -----------------------------------------------------------------------------------------------------*/
  .main-wrapper h1 {
    margin-bottom: .25rem;
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .main-wrapper header p {
    font-size: 1rem;
  }

  .main-wrapper h2 {
    font-size: 1.33rem;
    line-height: 1.5rem;
    margin-block: .25rem;
  }

  /* Site header styles */
  #site-header {
    align-items: flex-start;
    padding-block: 1rem;
  }

  #site-header #logo-title h1 {
    font-size: 1.33rem;
  }

  #site-header nav {
    font-size: .8rem;
  }

  nav a,
  #login,
  #logout,
  #register {
    margin-inline: .5rem;
  }

  #profile-login {
    top: .25rem;
    right: .25rem;
    flex-direction: column;
    align-items: flex-end;
  }

  #login,
  #logout,
  #register {
    padding: 0;
  }

  /* Site footer styles */
  footer {
    padding-block: 2rem 0;
  }

  footer>div {
    flex-direction: column;
  }

  #extra-info {
    width: 95%;
    align-items: center;
    margin-bottom: 1rem;
  }

  #extra-info h3 {
    font-size: 1rem;
    margin-bottom: .25rem;
  }

  #extra-info p {
    font-size: .8rem;
  }

  #contact-us {
    width: 95%;
    font-size: .8rem;
    margin-bottom: 1rem;
  }

  #contact-us p {
    margin-block: 0;
  }

  #socials p {
    margin: 0;
    margin-top: .5rem;
  }

  #legal {
    width: 100%;
    align-items: flex-end;
  }
}